/*============Tampilan Desktop 1366============*/
@media(min-width: 1024px) and (max-width: 1439px){
	.sidebar-mobile{
		display: none;
	}
	.banner-mobile{
		display: none;
	}
	.banner-desktop-lg{
		display: none;
	}
	#item4{
		display: none;
	}
}

 /*NAVBAR*/
.header-wrapper{
	width: 100%;
	height: 96px;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 99;
	box-shadow: 0 0 1px rgba(0,0,0,.04),0 4px 8px rgba(0,0,0,.04),0 16px 24px rgba(0,0,0,.04);
}

.header{
	padding: 24px 48px;
	max-width: 1024px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.header-logo img{
	height: 48px;
	width: 140px;
	cursor: pointer;
}

.header-menus{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-menus ul{
	list-style: none;
	display: flex;
}

.header-menus a{
	text-decoration: none;
	padding: 8px;
	margin-left: 48px;
	cursor: pointer;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: #303030;
}

.header-menus-red a{
	text-decoration: none;
	padding: 8px;
	margin-left: 48px;
	cursor: pointer;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #a30926;
}

/*CONTENT*/
/*Banner*/
.content-wrapper{
	padding-top: 96px;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
}

.banner-wrapper{
	max-width: 1024px;
	margin: auto;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	display: block;
}

.banner-content{
	width: 100%;
	display: inline-block;
	max-width: 1440px;
	position: relative;
	outline: none;
	font-weight: bold;
}

.banner-content-tagline{
	padding: 0 48px;
	max-width: 478px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.banner-content-text_description{
	margin-bottom: 16px;
	font-size: 20px;
	line-height: 30px;
	color: #303030;
	opacity: 0.8;
}

.banner-content-text_title{
	margin-bottom: 64px;
	font-size: 40px;
	line-height: 60px;
	color: #303030;
}

.banner-content-text_download{
	display: flex;
	
}

.banner-content-text_download img{
	cursor: pointer;
	margin-right: 25.5px;
}

/*Daftar item*/
.list-item{
	padding: 0 48px;
	max-width: 1024px;
	box-sizing: border-box;
	margin: 56px auto 120px;
	font-family: 'Inter', sans-serif;
}

.list-item-wrapper{
	display: flex;
	flex-direction: column;
}

#item1{
	padding: 0 15px 0 0;
}
#item2{
	padding: 0 15px;
}
#item3{
	padding: 0 0 0 15px;
}

.list-item_title{
	font-weight: bold;
	font-size: 32px;
	line-height: 48px;
	color: #303030;
	margin: 0;
}

.list-item_description{
	margin-top: 8px;
	font-size: 20px;
	line-height: 30px;
	color: #5a5a5a;
}

/*list item*/
.list-item_items{
	display: flex;
	flex-wrap: wrap;
	margin-top: 32px;
	width: 100%;
}

.items-box-wrapper{
	flex-basis: calc(33.3333% - 20px); 
	margin-bottom: 48px;
	justify-content: space-between;
}

.items-hover{
	cursor: pointer;
}

/*Images*/
.images-wrapper{
	position: relative;
	padding-top: 100%;
	width: 100%;
	border-radius: 16px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
	overflow: hidden; 
}

.items-image{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

/*logo*/
.items-logo-wrapper{
	position: absolute;
	top: 24px;
	left: 24px;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-color: #fff;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-image{
	width: 70%;
	height: 70%;
}

/*Title & Desc*/
.items-description{
	margin-top: 24px;
	cursor: pointer;
}

.items-description_title{
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.title-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #303030;
}

.arrow{
	margin-left: 16px;
}

.items-description_desc{
	font-size: 20px;
	line-height: 30px;
	color: #5a5a5a;
}

/*============Tampilan Desktop LG 1440============*/
@media(min-width: 1440px){
	.sidebar-mobile{
		display: none;
	}
	.banner-mobile{
		display: none;
	}
	.banner-desktop{
		display: none;
	}
	#item4{
		display: none;
	}

	/*NAVBAR*/
	.header{
		padding: 24px 165px;
		max-width: 1440px;
	}

	/*CONTENT*/
	/*Banner*/
	.banner-wrapper{
		max-width: 1440px;
	}

	.banner-desktop-lg{
		width: 100%;
		height: 100%;
		display: block;
	}

	.banner-content-tagline{
		padding: 0 165px;
		max-width: 524px;
	}

	.banner-content-text_download img{
		cursor: pointer;
		margin-right: 25.5px;
	}

	/*Daftar item*/
	.list-item{
		padding: 0 165px;
		max-width: 1440px;
	}

	.list-item_title{
		font-weight: bold;
		font-size: 40px;
		line-height: 60px;
		color: #303030;
		margin: 0;
	}

	.list-item_description{
		margin-top: 8px;
		font-size: 24px;
		line-height: 36px;
		color: #707070;
	}

	/*Title & Desc*/
	.items-description_title{
		display: flex;
		align-items: center;
		margin-bottom: 4px;
	}

	.title-title{
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		color: #303030;
	}

	.arrow{
		margin-left: 16px;
	}

	.items-description_desc{
		font-size: 24px;
		line-height: 29px;
		color: #5a5a5a;
	}
}

/*============Tampilan mobile 360============*/
@media(max-width: 1023px){
	.header-menus{
		display: none;
	}
	.banner-desktop{
		display: none;
	}
	.banner-desktop-lg{
		display: none;
	}
	.download-gstore{
		display: none;
	}
	.sidebar-mobile{
		cursor: pointer;
	}
	
	.header-wrapper{
		position:fixed;
		height: 48px;
	}

	.header{
		padding: 10px 16px;
		max-width: 360px;
	}

	.header-logo img{
		height: 24px;
		width: 64px;
		cursor: pointer;
	}

	/*CONTENT*/
	/*Banner*/
	.content-wrapper{
		padding-top: 48px;
	}

	.banner-wrapper{
		max-width: 360px;
	}

	.banner-content-tagline{
		padding: 0 16px;
		max-width: 206px;
	}

	.banner-content-text_description{
		margin-bottom: 8px;
		font-size: 14px;
		line-height: 21px;
		color: #303030;
		opacity: 0.8;
	}

	.banner-content-text_title{
		margin-bottom: 32px;
		font-size: 24px;
		line-height: 36px;
		color: #303030;
	}

	.banner-content-text_download img{
		cursor: pointer;
		height: 38.22px;
	}

	/*Daftar item*/
	.list-item{
		padding: 0 16px;
		max-width: 360px;
		box-sizing: border-box;
		margin: 40px auto 56px;
		font-family: 'Inter', sans-serif;
	}

	.list-item_title{
		font-size: 24px;
		line-height: 36px;
	}

	.list-item_description{
		margin-top: 8px;
		font-size: 16px;
		line-height: 21px;
		color: #707070;
	}

	/*list item*/
	.list-item_items{
		margin-top: 24px;
	}

	#item1{
	padding: 0 8px 0 0;
	}
	#item2{
		padding: 0 0 0 8px;
	}
	#item3{
		padding: 0 8px 0 0;
	}
	#item4{
		padding: 0 0 0 8px;
	}

	.items-box-wrapper{
		flex-basis: calc(50% - 8px); 
		margin-bottom: 24px;
	}

	.items-hover{
		cursor: pointer;
	}

	/*Images*/
	.images-wrapper{
		position: relative;
		padding-top: 100%;
		width: 100%;
		border-radius: 8px;
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
		overflow: hidden; 
	}

	/*logo*/
	.items-logo-wrapper{
		position: absolute;
		top: 16px;
		left: 16px;
		width: 40px;
		height: 40px;
		border-radius: 20px;
	}

	/*Title & Desc*/
	.items-description{
		margin-top: 8px;
		cursor: pointer;
	}

	.items-description_title{
		display: flex;
		align-items: center;
		margin-bottom: 4px;
	}

	.title-title{
		font-weight: bold;
		font-size: 14px;
		line-height: 21px;
		color: #303030;
	}

	.arrow{
		margin-left: 8px;
		width: 16px;
		height: auto;
	}

	.items-description_desc{
		font-size: 10px;
		line-height: 15px;
		color: #5a5a5a;
	}
}

/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

